#contacto{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 25px;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
}

#contacto textarea{
    resize: none;
    flex:1;
}