@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --main-bg-color: #F0EFE6;
  --main-text-color: black;
  --main-neutral-color: #5F634F;
  --main-highlight-color: #009ACC;
  --secondary-highlight-color: #A59132;
}

.App {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100vw;
}

.image-container {
  height: 100%;
}

.image-container img {
  width: auto;
  height: 100%;
}

.image-container a {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > div {
  flex:1;
  display: flex;
}

button{
  color: white;
  background-color: var(--main-highlight-color);
  border: none;
  padding: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}
