footer{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-highlight-color);
}

footer a{
    text-decoration: none;
}

footer .redes {
    background-color: var(--main-highlight-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:10px
}

footer .redes p{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

footer .redes .image-container{
    height: 50px;
}

footer .redes img{
    border-radius: 5px;
}

footer #info {
    flex:1;
    display: flex;
    flex-direction: row;
    padding:25px;
    gap:25px;
    flex-wrap: wrap;
}

footer #info .column {
    flex:1;
    display: flex;
    max-height: 100%;
    background-color: #000000DD;
    border-radius: 25px;
    padding:25px;
    border: 4px solid var(--secondary-highlight-color);
    box-shadow: 0 4px 24px 8px #000000AA;
    color:white;
}

footer #info img {
    max-height: 100px;
}

footer li {
    list-style: none;
    text-align: right;
}